#user-box,
#top-navigation,
#sub-navigation,
#breadcrums,
#page-logo,
#side-header,
#search-box,
.content-navigation,
#footer,
#header,
.inlineAdminLink,
.noprint {
	display: none;
}

body#popup-page #header {
    display: block;
}

#page-header {
 height: auto;
}

#page-header h1 {
	width: 100%;
}

#content {
    padding-top: 0px;
}

body#popup-page #content h2 {
    color: #000;
    background: none;
    border: none;
}

#main-outer,
#main-side .related-info-box {
    background: none;
}

div#main-side:before {
    content: url(/static/logos/logo-marakana-v-orange-gray-200x130.png);
    width: 200px;
    height: 130px;
}

